.pagecomponent {
    display: flex;
    height: 100%;
}

.pagecomponent-left {
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0rem;
    position: fixed;
    z-index: 9999;
    width: 12%;
    background-color: #586675;
    border-bottom-style: solid;
    border-bottom-color: #138496;
    opacity: 0.6;
    transition: opacity 0.5s;
    -moz-transition: opacity 0.5s; /* Firefox 4 */
    -webkit-transition: opacity 0.5s; /* Safari 和 Chrome */
    -o-transition: opacity 0.5s; /* Opera */
    margin-top: 3rem;
}

.pagecomponent-left:hover{
    opacity: 1;
}

.pagecomponent-left-btn {
    flex-shrink: 0;
    flex-grow: 0;
    background-color: #5a8e9a;
    border: 0rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow: hidden;
    padding: .8rem;
}

.pagecomponent-left-toolcontain {
    flex-grow: 1;
    flex-shrink: 1;
}

.pagecomponent-right {
    height: 100%;
    flex-shrink: 1;
    flex-grow: 1;
}