@keyframes loading-frame
{
    from {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Safari and Chrome */
    }
    to {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg); /* IE 9 */
        -webkit-transform: rotate(360deg); /* Safari and Chrome */
    }
}
 
@-webkit-keyframes loading-frame /* Safari 与 Chrome */
{
    from {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Safari and Chrome */
    }
    to {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg); /* IE 9 */
        -webkit-transform: rotate(360deg); /* Safari and Chrome */
    }
}

.loading{
    width: 12rem;
    float: right;
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
}

.loading-text{
    display: inline-block;
    float: right;
}

.loading-animation{
    color:#ffffff;
    font-size: 20px;
    display: inline-block;

    animation-name: loading-frame;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* Safari 与 Chrome: */
    -webkit-animation-name: loading-frame;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

.loading-animation-text{
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
    color: #ffffff;
}

.background-transparent{
    background-color: rgba(0,0,0,0);
    border: 0px;
}