.sidenav_css {
    padding: 0rem;
    height: 100%;
    padding-top: 0.625rem;
    background-color: #00214080;;
    /*background-color: #0c6d77;*/
}

.sidenav-avatar{
    padding:0.625rem 0rem;
}

    .sidenav-avatar img {
        width:40%;
        height:40%;
    }

    .sidenav-avatar p {
        color: #ffffff;
        text-align: center;
        font-size: 1rem;
        margin: 0.625rem;
    }

.sidenav-weather{
    padding-bottom: 1rem;
}