.parentcomponent .parentcomponent-btns {
    z-index: 990;
}

.parentcomponent .parentcomponent .parentcomponent-btns {
    z-index: 991;
}

.parentcomponent .parentcomponent .parentcomponent .parentcomponent-btns {
    z-index: 992;
}

.parentcomponent .parentcomponent .parentcomponent .parentcomponent .parentcomponent-btns {
    z-index: 993;
}

.parentcomponent .parentcomponent .parentcomponent .parentcomponent .parentcomponent .parentcomponent-btns {
    z-index: 994;
}

.parentcomponent:hover>.parentcomponent-btns>button {
    opacity: 1;
}

.parentcomponent-btns {
    width: 0px;
    left: -3rem;
    position: relative;
}

.parentcomponent-btns>button {
    opacity: 0.2;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}