/* -------------------------------------- */
.postlist{
    padding: 0rem 1.5rem;
}

.postlist ol{
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

/* -------------------------------------- */			

.postlist .postlist-rounded-list li{
    position: relative;
    display: flex;
    align-items: center;
    margin: 1.3rem 0;
    background: #b3deef;
    color: #444;
    text-decoration: none;
    height: 3rem;
    /* overflow: hidden; */
    -moz-border-radius: 1.5rem .5rem .5rem 1.5rem;
    -webkit-border-radius: 1.5rem .5rem .5rem 1.5rem;
    border-radius: 1.5rem .5rem .5rem 1.5rem;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.postlist .postlist-rounded-list li:hover{
    background: #d1e3ea;
}

.postlist .postlist-rounded-list li>a{
    flex-grow: 1;
}

.postlist .postlist-rounded-list li>span{
    padding: 0.7rem;
    margin-left: -0.7rem;
    background: #6cc0ce;
    border-radius: 2.2rem;
    margin-right: 1rem;
}

.postlist .postlist-rounded-list li>span>span{
    /* position: absolute;	 */
    background: #17a2b8;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    -moz-border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    border-radius: 1.5rem;
    /* margin-right: 1rem; */
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.postlist .postlist-rounded-list li:hover>span>span{
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);	
}
