.parentcomponent .editableparentcom-btns {
    z-index: 9990;
    right: 0rem;
    top: 0rem;
}

.parentcomponent .parentcomponent .editableparentcom-btns {
    z-index: 9991;
    right: .2rem;
    top: .2rem;
}

.parentcomponent .parentcomponent .parentcomponent .editableparentcom-btns {
    z-index: 9992;
    right: .4rem;
    top: .4rem;
}

.parentcomponent .parentcomponent .parentcomponent .parentcomponent .editableparentcom-btns {
    z-index: 9993;
    right: .6rem;
    top: .6rem;
}

.parentcomponent .parentcomponent .parentcomponent .parentcomponent .parentcomponent .editableparentcom-btns {
    z-index: 9994;
    right: .8rem;
    top: .8rem;
}

.parentcomponent:hover>.editableparentcom-btns>button {
    opacity: 1;
}

.editableparentcom-btns {
    width: 0px;
    height: 0.3rem;
    position: relative;
    display: flex;
    align-items: start;
    transform-origin:0% 50%;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Safari 与 Chrome */
}

.editableparentcom-btns>button {
    opacity: 0.5;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    transform-origin:50% 50%;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Safari 与 Chrome */
    margin: 0px 3px;
}