.parentcomponent .editableparentcom-btns {
    z-index: 9990;
    right: 0rem;
}

.parentcomponent .parentcomponent .editableparentcom-btns {
    z-index: 9991;
    right: .3rem;
}

.parentcomponent .parentcomponent .parentcomponent .editableparentcom-btns {
    z-index: 9992;
    right: .6rem;
}

.parentcomponent .parentcomponent .parentcomponent .parentcomponent .editableparentcom-btns {
    z-index: 9993;
    right: .9rem;
}

.parentcomponent .parentcomponent .parentcomponent .parentcomponent .parentcomponent .editableparentcom-btns {
    z-index: 9994;
    right: 1.2rem;
}

.parentcomponent .parentcomponent .parentcomponent .parentcomponent .parentcomponent .parentcomponent .editableparentcom-btns {
    z-index: 9995;
    right: 1.5rem;
}

.parentcomponent .parentcomponent .parentcomponent .parentcomponent .parentcomponent .parentcomponent .parentcomponent .editableparentcom-btns {
    z-index: 9996;
    right: 1.8rem;
}

.parentcomponent:hover>.editableparentcom-btns>button {
    opacity: 1;
}

.editableparentcom-btns {
    width: 0px;
    height: 0.3rem;
    position: relative;
    display: flex;
    align-items: start;
    transform-origin:0% 50%;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Safari 与 Chrome */
}

.editableparentcom-btns>button {
    opacity: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    transform-origin:50% 50%;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Safari 与 Chrome */
    margin: 0px 3px;
}