################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/src/IEManageSystem.ApiAuthorization/bin
/src/IEManageSystem.ApiAuthorization/obj
/src/IEManageSystem.Application/bin
/src/IEManageSystem.Application/obj
/src/IEManageSystem.CMS/bin
/src/IEManageSystem.CMS/obj
/src/IEManageSystem.Core/bin
/src/IEManageSystem.Core/obj
/src/IEManageSystem.EntityFrameworkCore/bin
/src/IEManageSystem.EntityFrameworkCore/obj
/src/IEManageSystem.JwtAuthentication/bin
/src/IEManageSystem.JwtAuthentication/obj
/src/IEManageSystem.Web/bin
/src/IEManageSystem.Web/obj
/src/IEManageSystem.Web/ClientApp/node_modules
/src/IEManageSystem.Web/ClientApp/obj
/src/IEManageSystem.Common/bin
/src/IEManageSystem.Common/obj
/src/UtilityAction/bin
/src/UtilityAction/obj
/test/IEManageSystem.Tests/bin
/test/IEManageSystem.Tests/obj
/test/IEManageSystem.Web.Tests/bin
/test/IEManageSystem.Web.Tests/obj
*.ldb
/src/IEManageSystem.CommonInfrastructure/bin/Debug/netcoreapp2.1
/src/IEManageSystem.CommonInfrastructure/obj
/test/IEManageSystem.CommonInfrastructure.Tests/bin/Debug/netcoreapp3.0
/test/IEManageSystem.CommonInfrastructure.Tests/obj
