################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/src/Es6JsView/node_modules/.cache/uglifyjs-webpack-plugin
/src/Es6JsView/node_modules
/src/IEManageSystem.Api/bin
/src/IEManageSystem.Api/obj
/src/IEManageSystem.Api/bin
/src/IEManageSystem.Api/bin
/src/IEManageSystem.Application/obj
/src/IEManageSystem.Core/obj
/src/IEManageSystem.EntityFrameworkCore/obj
/src/IEManageSystem.Web/bin
/src/IEManageSystem.Web/obj
/src/UtilityAction/obj
/src/IEManageSystem.Application/bin
/src/IEManageSystem.Core/bin
/src/IEManageSystem.EntityFrameworkCore/bin
/src/UtilityAction/bin
/src/IEManageSystem.Web/App_Data/Logs/Logs.txt
src/Es6JsView/package-lock.json
src/Es6JsView/package.json
/IEIdentityServer.Core/bin
/IEIdentityServer.Core/obj
/IEIdentityServer.EFCore/bin
/IEIdentityServer.EFCore/obj
/IEIdentityServer.Core/obj
