.component-tool {
    /* border: 1px solid #cdcdcd; */
    padding: 0rem;
    overflow-x: hidden;
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    height: 100%;
    margin-right: 0.33rem;
}

.component-tool>div {
    height: 100%;
    overflow-y: scroll;
    margin-right: -1.5rem;
    padding: 0rem;
}

.component-frame {
    width: 100%;
    height: 6rem;
    background-color: #fff0;
}

.component-tool-list {
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 0rem;
}

.component-tool-list>li,
.component-tool-list a {
    list-style: none;
    text-decoration: none;
}

.component-tool-item {
    overflow: hidden;
}

.component-tool-item>a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #586675;
    color: #fff;
    font-size: .9rem;
    position: relative;
}

.component-tool-item>.subMenu {
    background: #273057;
    overflow: hidden;
    max-height: 0rem;
    transition: all 0.7s;
}

.component-tool-item>.subMenu>a {
    display: block;
    padding: .5rem 1rem;
    color: #fff;
    /* border-bottom: 1px solid #394c7f; */
    position: relative;
}

.component-tool-item>.subMenu>a:hover {
    background: #273057;
    background: -moz-linear-gradient(top, #273057 0%, #273057 50%, #394c7f 51%, #394c7f 100%);
    background: -webkit-linear-gradient(top, #273057 0%, #273057 50%, #394c7f 51%, #394c7f 100%);
    background: linear-gradient(to bottom, #273057 0%, #273057 50%, #394c7f 51%, #394c7f 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#273057', endColorstr='#394c7f', GradientType=0);
    transition: all 0.3s;
    /* border-bottom: 1px solid #394c7f; */
}

.component-tool-item>.subMenu>a:last-child {
    border: none;
}

.component-tool-item>.subMenu-active {
    max-height: 40rem;
}