.front-menu {
    height: auto;
    overflow: hidden;
    left: 0px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin-left: -15px;
    margin-right: -15px;
    background: #2a394fc4;
    padding: 0rem 2rem;
}
.front-menu label {
    color: #eff4fa;
    -webkit-transition: text-indent .15s, height .3s;
    transition: text-indent .15s, height .3s;
    box-sizing: border-box;
    display: block;
    cursor: pointer;
    width: 13%;
    margin-bottom: 0px;
    background-color: #404b5a;
}
.front-menu label:hover {
    background: #212e41;
    text-indent: 4px;
}

.front-menu label .front-menu-title-right {
    width: 5px;
    height: 5px;
    -webkit-transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-top: 2px solid white;
    border-right: 2px solid white;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.front-menu-title{
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.front-menu-content {
    display: none;
    left: 0;
    width: 100%;
}
.front-menu-content ul{
    width: 15%;
    padding: 0;
    margin: 0;
    display: inline-block;
    z-index: 999;
    position: fixed;
}
.front-menu-content li {
    list-style-type: none;
    width: 100%;
    opacity: 0;
    left: -100%;
    background: #15a4fa;
    padding: 15px 0px;
    text-indent: 25px;
    box-shadow: 0px 0px #126CA1 inset;
    -webkit-transition: box-shadow .3s, text-indent .3s;
    transition: box-shadow .3s, text-indent .3s;
    position: relative;
}
.front-menu-content li:hover {
    background: #0c93e4;
    box-shadow: 3px 0px #126CA1 inset;
    -webkit-transition: box-shadow .3s linear, text-indent .3s linear;
    transition: box-shadow .3s linear, text-indent .3s linear;
    text-indent: 31px;
}
.front-menu-content .clear {
    clear: both;
}

.front-menu label:hover .front-menu-content {
    display: block;
}

.front-menu label:hover .front-menu-title-right {
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    border-top: 2px solid #14a3f9;
    border-right: 2px solid #14a3f9;
}

.front-menu label:hover {
    background: #212e41;
    text-indent: 4px;
    -webkit-transition-property: height;
    transition-property: height;
    -webkit-transition-duration: .6s;
    transition-duration: .6s;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.front-menu label:hover li:nth-of-type(1) {
    -webkit-animation: in 0.15s 0.1s forwards;
    animation: in 0.15s 0.1s forwards;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-animation: in 0.15s 0.1s forwards;
    -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.front-menu label:hover li:nth-of-type(2) {
    -webkit-animation: in 0.15s 0.2s forwards;
    animation: in 0.15s 0.2s forwards;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-animation: in 0.15s 0.2s forwards;
    -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.front-menu label:hover li:nth-of-type(3) {
    -webkit-animation: in 0.15s 0.3s forwards;
    animation: in 0.15s 0.3s forwards;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-animation: in 0.15s 0.3s forwards;
    -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.front-menu label:hover li:nth-of-type(4) {
    -webkit-animation: in 0.15s 0.4s forwards;
    animation: in 0.15s 0.4s forwards;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-animation: in 0.15s 0.4s forwards;
    -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@-webkit-keyframes in {
    from {
        left: -100%;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}
@keyframes in {
    from {
        left: -100%;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}