.nav-tag{
    width: 100%;
    overflow: hidden;
    font-size: 1rem;
}

.nav-tag .tag{
}

.nav-tag .tag>div{
    display: inline-block;
    position: relative;
    min-width: 100%;
}

.nav-tag ul{
    white-space:nowrap;
    flex-wrap: nowrap;
}

.nav-tag ul li{
    flex-shrink: 0;
    width: 13rem;
    text-align: center;
}

.nav-tag ul li a{
    margin: .1rem .2rem;
    padding: .375rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    display: block;
    /* display: flex;
    justify-content: center;
    align-items: start; */
}

.nav-tag ul li a > span{
    margin: auto 0rem;
}

.nav-tag-deleteicon{
    margin-left: 0.5rem;
}

.nav-tag>div{
    overflow: hidden;
}

.nav-tag>button{
    border: 1px solid #dee2e6;
}

.nav-tag-closeall{
    padding-left: 20px;
    padding-right: 20px;
    background-color: #5c8396;
    border-radius: 0px;
    color: #ffffff;
    border: 0px !important;
}