.data-list h6 {
    /* background: #f5f5f5; */
    padding: 0.3rem 0.67rem;
    margin-bottom: 0px;
    color: #6c757d;
    font-size: 1rem;
    border-radius: 0.33rem 0.33rem 0rem 0rem;
    border: 1px solid whitesmoke;
}

.data-list table {
    /* table-layout: fixed; */
}

.data-list thead {
    background-color: #334454;
    color: #fff;
}

.data-list thead th {
    border: 0px !important;
}

.data-list td {
    border: 0px !important;
    border-color: #ffffff40;
}

.data-paging ul {
    margin-bottom: 0px;
}