.postedit-page-container{
    height: 100%;
    overflow-x: hidden;
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
}

.postedit-page-container-header{
    position: fixed;
    z-index: 9999;
    position: fixed;
    z-index: 9999;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    opacity: 0.7;
}

.postedit-page-container-header:hover{
    opacity: 1;
}

.postedit-page-container-body{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-top: 0.67rem;
    /* border: 1px solid #cdcdcd; */
    padding-left: 0.33rem;
    padding-right: 0.33rem;
    overflow-y: scroll;
    margin-right: -18px;
    overflow-x: hidden;
}