.postedit-page-container{
    height: 100%;
    overflow-x: hidden;
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
}

.postedit-page-container-header{
    position: fixed;
    display: inline-block;
    z-index: 9999;
    bottom: 20vh;
    opacity: 0.7;
}

.postedit-page-container-header:hover{
    opacity: 1;
}