.w-20{
    width: 20% !important;
}

.w-60{
    width: 60% !important;
}

.w-80{
    width: 80% !important;
}

.zindex{
    z-index: 0;
}

.zindex-1 {
    z-index: 1;
}

.zindex-2 {
    z-index: 2;
}

.zindex-3 {
    z-index: 3;
}

.zindex-991{
    z-index: 991;
}

.zindex-992{
    z-index: 992;
}

.zindex-993{
    z-index: 993;
}

.overflow-h {
    overflow: hidden;
}

.overflow-hidden-x {
    overflow-x: hidden;
}

.overflow-hidden-y {
    overflow-y: hidden;
}

.overflow-auto-x {
    overflow-x: auto;
}

.overflow-auto-y {
    overflow-y: auto;
}

.hide-scroll{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.hide-scroll>*{
    height: 100%;
    overflow-y: scroll;
    margin-right: -1.5rem;
    overflow-x: hidden;
}