.preview{
    /* padding: 0.5rem; */
    overflow: hidden;
    max-height: 100%;
    /* background-color: #5a8e9a;;
    border-top: 1px solid #bcc5c5;
    border-bottom: 1px solid #bcc5c5; */
    display: flex;
    flex-direction: column;
}

.preview-hide{
    display: none;
}

.preview>h6{
    font-size: 1rem;
}

.preview>div
{
    overflow-y: scroll;
    margin-right: -19px;
}

.preview ul{
    width: 100%;
}

.preview li{
    border: 0px;
    margin-bottom: 2px;
    padding: .5rem;
    border-radius: .3rem;
}