.PageContainer-btnlists{
    position: fixed !important;
    display: flex;
    justify-content: flex-end;
    right: 5rem;
    bottom: 4rem;
    opacity: 0.9;
    z-index: 9999;
    justify-content: flex-end;
}

.PageContainer-btnlists-pageInfoComponent{
    position: relative;
}