

.pageedit-page-container-btns {
    position: fixed !important;
    display: flex;
    justify-content: flex-end;
    right: 5rem;
    bottom: 4rem;
    width: 0rem !important;
    opacity: 0.9;
    z-index: 9999;
}

.pageedit-page-container-btns:hover{
    transition: 0.5s;
    opacity: 1;
}