<table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>资源名</th>
        <th>资源描述</th>
        <th>资源Claim</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody id="datadiv" data-element="dataElement" data-iP="true" data-iL="true">
      <tr>
        <td data-element="dataElement" data-n="displayName">{{Value}}</td>
        <td data-element="dataElement" data-n="description">{{Value}}</td>
        <td data-element="dataElement" data-n="userClaimsString">{{Value}}</td>
        <td>
          <button type="button" class="btn btn-info">修改</button>
          <button type="button" class="btn btn-danger">删除</button>
        </td>
      </tr>
    </tbody>
</table>

<script src="~/js/Other/selectSingleData.js"></script>
<script>
  function GetIdentityResourceCall(data){
    if(data.isSuccess == true){
      let identityResources = data.value.identityResources;

      for(let item in identityResources){
        let userClaimsString = "";

        for(let childItem in identityResources[item].userClaims){
          userClaimsString = userClaimsString + "[" + identityResources[item].userClaims[childItem].type + "]" + " ";
        }

        identityResources[item].userClaimsString = userClaimsString;
      }

      var factoryId = BuildData(identityResources, $("#datadiv"));
    }
  }

  $(function(){
    console.log(1);
    $.get("/api/IdentityResourceManage/GetIdentityResource", GetIdentityResourceCall);
  });
</script>