body {
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

a {
    color: #777
}

    a:hover {
        color: #F00;
        text-decoration: none
    }
/* 鼠标经过悬停字体颜色 */
div {
}


html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.navbom {
}

    .navbom ul {
        margin: auto;
    }

.Content {
    background-size: 100% auto;
    background-image: url(/wwwroot/images/Account/login_back.jpg);
    background-repeat: no-repeat;
    background-position: bottom left;
    height: 100%;
}

    .Content > div:last-child {
        height: 100%;
        width: 100%;
    }

.space {
    width: 100%;
    height: 100%;
    position: absolute;
}

.star {
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #FFF;
    top: 100px;
    left: 400px;
    position: relative;
    transform-origin: 100% 0;
    animation: star-ani 6s infinite ease-out;
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, .3);
    opacity: 0;
    z-index: 2;
}

    .star:after {
        content: '';
        display: block;
        top: 0px;
        left: 4px;
        border: 0px solid #fff;
        border-width: 0px 90px 2px 90px;
        border-color: transparent transparent transparent rgba(255, 255, 255, .3);
        transform: rotate(-45deg) translate3d(1px, 3px, 0);
        box-shadow: 0 0 1px 0 rgba(255, 255, 255, .1);
        transform-origin: 0% 100%;
        animation: shooting-ani 3s infinite ease-out;
    }

.pink {
    top: 30px;
    left: 395px;
    background: #ff5a99;
    animation-delay: 5s;
    -webkit-animation-delay: 5s;
    -moz-animation-delay: 5s;
}

    .pink:after {
        border-color: transparent transparent transparent #ff5a99;
        animation-delay: 5s;
        -webkit-animation-delay: 5s;
        -moz-animation-delay: 5s;
    }

.blue {
    top: 35px;
    left: 432px;
    background: cyan;
    animation-delay: 7s;
    -webkit-animation-delay: 7s;
    -moz-animation-delay: 7s;
}

    .blue:after {
        border-color: transpareanimation-delay: 12s;
        -webkit-animation-delay: 7s;
        -moz-animation-delay: 7s;
        animation-delay: 7s;
    }

.yellow {
    top: 50px;
    left: 600px;
    background: #ffcd5c;
    animation-delay: 5.8s;
}

    .yellow:after {
        border-color: transparent transparent transparent #ffcd5c;
        animation-delay: 5.8s;
    }

.white {
    top: 50px;
    left: 80%;
    width: 5px;
    height: 5px;
    background: #ffffff;
    animation-delay: 5.8s;
}

    .white:after {
        border-color: transparent transparent transparent #ffffff;
        animation-delay: 5.8s;
    }

@keyframes star-ani {
    0% {
        opacity: 0;
        transform: scale(0) rotate(0) translate3d(0, 0, 0);
        -webkit-transform: scale(0) rotate(0) translate3d(0, 0, 0);
        -moz-transform: scale(0) rotate(0) translate3d(0, 0, 0);
    }

    50% {
        opacity: 1;
        transform: scale(1) rotate(0) translate3d(-200px, 200px, 0);
        -webkit-transform: scale(1) rotate(0) translate3d(-200px, 200px, 0);
        -moz-transform: scale(1) rotate(0) translate3d(-200px, 200px, 0);
    }

    100% {
        opacity: 0;
        transform: scale(1) rotate(0) translate3d(-300px, 300px, 0);
        -webkit-transform: scale(1) rotate(0) translate3d(-300px, 300px, 0);
        -moz-transform: scale(1) rotate(0) translate3d(-300px, 300px, 0);
    }
}

.login-content {
    width: 100%;
    height: 100%;
}
    .login-content input {
        background-color:rgba(255,255,255,0.6);
        color: #ffffff;
    }
    .login-content img {
        padding-left: 20px;
    }
    .login-content > .col-md-7 {
        display: -webkit-flex;
        display: flex;
    }

        .login-content > .col-md-7 > div {
            margin: auto;
            padding-bottom: 100px;
            color: white;
        }

            .login-content > .col-md-7 > div h4 {
                color: white;
            }

    .login-content .card {
        background-color: rgba(0,191,255,0.3);
    }

    .login-content > .col-md-4 {
        display: -webkit-flex;
        display: flex;
    }

        .login-content > .col-md-4 > div {
            margin: auto;
            color: #ffffff;
            padding-bottom: 100px;
        }

            .login-content > .col-md-4 > div > div {
                background-color: rgba(0,191,255,0.3);
                padding: 20px 20px 20px 20px;
            }

        .login-content > .col-md-4 label {
            padding: 0px;
            display: inline-block;
            height: 100%;
            text-align: justify;
            margin-right: 10px;
        }

        .login-content > .col-md-4 .form-inline {
        }

            .login-content > .col-md-4 .form-inline > div {
            }

        .login-content > .col-md-4 .w-100 {
            padding: 5px 0px 5px 0px;
        }

        .login-content > .col-md-4 button:first-child {
            margin-left: 10px;
            margin-right: 10px;
        }

.valid {
}

    .valid input {
        width: 40%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.2;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

.error {
    padding-top: 10px !important;
    padding-bottom: 0px !important;
}

@media (max-width:768px) {
}

@media (min-width:768px) {
}

@media (min-width:992px) {
}

@media (min-width:1200px) {
}
