
.account-security > div:nth-child(3) {
    padding: 1rem;
    border-radius: .5rem;
    display: inline-block;
}

.account-security-lable {
    width: 15%;
}

    .account-security-lable > span {
        width: 100%;
        text-align: right;
        justify-content: center;
    }