.parentcomponent:hover>.parentcomponent-btns>button {
    opacity: 1;
}

.parentcomponent-btns {
    z-index: 999;
    width: 0px;
    left: -3rem;
    position: relative;
}

.parentcomponent-btns>button {
    opacity: 0.8;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}