/* react-native-web */
.css-view-1dbjc4n{
    z-index: auto;
}

.pageedit-componentcontainer:hover{
    background-color: #1890ff20;
    /* background-color: #1890ff20 !important; */
}

.pageedit-componentcontainer-btns {
    opacity: 0.1;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    display: flex;

    transform-origin:50% 50%;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Safari 与 Chrome */
}

.pageedit-componentcontainer:hover>.pageedit-componentcontainer-btns {
    opacity: 1;
}