.iesidenav-menu 
{
    overflow-x: hidden;
    height: 100%;
}

    .iesidenav-menu > div 
    {
        height:100%;
        overflow-y: scroll;
        margin-right: -1.5rem;
    }

.iesidenav_css_li {
    background-color: #3b7790;
    position: relative;
    display: block;
    margin-bottom: -1px;
    cursor: pointer;
    color: #FFFFFF;
}

.iesidenav_css_li a:hover {
    /*background-color: #095c65;*/
    border-left: 0.312rem solid #00C5AD;
}

    .iesidenav_css_li .iesidenav_css_li{
        background-color: #275d71;
    }

    .iesidenav_css_li .iesidenav_css_li a{
        padding-left: 1.56rem;
    }

    .iesidenav_css_li .iesidenav_css_li a:hover {
        /*background-color: #095c65;*/
        border-left: 0.312rem solid #00C5AD;
    }

    .iesidenav_css_li a{
        display: block;
        padding: 0.9rem 1rem;
        border-left: 0.312rem solid #ffffff00;
        display: flex;
        align-items: center;
    }

    .iesidenav_css_li_active{
        /*background-color: #095c65;*/
        border-left: 0.312rem solid #00C5AD !important;
        border-right: 0.312rem solid #00C5AD !important;
    }

.iesidenav-icon-hide{
    color: #ffffff00;
}

.iesidenav-menutag {
    background-color: #234a4e;
    padding: .35rem .5rem;
}

    .iesidenav-menutag > div {
        font-size:1.15rem;
    }