.content-area{
  overflow: hidden;
}


/* placement = right, left, center */
/* alignment = top, bottom */
/* line 18, ../../scss/basestyle/custom-controls/_toast.scss */
.toast {
  position: fixed;
  z-index: 1022;
  bottom: 2rem;
  right: 2rem;
  max-width: 280px;
  border-radius: 0.25rem;
}
/* line 27, ../../scss/basestyle/custom-controls/_toast.scss */
.toast > .alert {
  box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.15);
}
/* line 31, ../../scss/basestyle/custom-controls/_toast.scss */
.toast > *:last-child {
  margin-bottom: 0px;
}
/* line 37, ../../scss/basestyle/custom-controls/_toast.scss */
.toast.top-right {
  bottom: auto;
  top: 2rem;
}
/* line 41, ../../scss/basestyle/custom-controls/_toast.scss */
.toast.bottom-right {
  bottom: 2rem;
  right: 2rem;
}
/* line 47, ../../scss/basestyle/custom-controls/_toast.scss */
.toast.top-left {
  bottom: auto;
  top: 2rem;
  left: 2rem;
  right: auto;
}
/* line 53, ../../scss/basestyle/custom-controls/_toast.scss */
.toast.bottom-left {
  bottom: 2rem;
  left: 2rem;
  right: auto;
}
/* line 60, ../../scss/basestyle/custom-controls/_toast.scss */
.toast.top-center {
  bottom: auto;
  top: 2rem;
  left: 0;
  right: 0;
  margin: auto;
}
/* line 67, ../../scss/basestyle/custom-controls/_toast.scss */
.toast.bottom-center {
  bottom: 2rem;
  top: auto;
  margin: auto;
  left: 0;
  right: 0;
}

/*------------------------------------------------------------------
[Table of contents]

1. Font Weights
2. Whitespace Normal
3. Material Icons Sizes
4. Shapes
5. Borders

-------------------------------------------------------------------*/
/* Font Weights */
/* line 14, ../../scss/basestyle/_utilities.scss */
.weight-300 {
  font-weight: 300;
}

/* line 17, ../../scss/basestyle/_utilities.scss */
.weight-400 {
  font-weight: 400;
}

/* Whitespace Normal */
/* line 24, ../../scss/basestyle/_utilities.scss */
.whitespace-normal {
  white-space: normal;
}

/* Material Icons */
/* line 31, ../../scss/basestyle/_utilities.scss */
.material-icons.md-16 {
  font-size: 16px;
}
/* line 32, ../../scss/basestyle/_utilities.scss */
.material-icons.md-18 {
  font-size: 18px;
}
/* line 33, ../../scss/basestyle/_utilities.scss */
.material-icons.md-20 {
  font-size: 20px;
}
/* line 34, ../../scss/basestyle/_utilities.scss */
.material-icons.md-24 {
  font-size: 24px;
}
/* line 35, ../../scss/basestyle/_utilities.scss */
.material-icons.md-36 {
  font-size: 36px;
}
/* line 36, ../../scss/basestyle/_utilities.scss */
.material-icons.md-48 {
  font-size: 48px;
}

/* Shapes */
/* line 42, ../../scss/basestyle/_utilities.scss */
.circle {
  border-radius: 100px !important;
}

/* line 45, ../../scss/basestyle/_utilities.scss */
.flat {
  border-radius: 0px !important;
}

/* Borders */
/* line 52, ../../scss/basestyle/_utilities.scss */
.border-width-light {
  border-width: 2px !important;
}

/* line 56, ../../scss/basestyle/_utilities.scss */
.border-width-medium {
  border-width: 3px !important;
}

/* line 61, ../../scss/basestyle/_utilities.scss */
hr.dashed {
  border-style: dashed;
}

/* Setting Min Height for no contant page */
/* line 105, ../../scss/basestyle/style.scss */
.content {
  min-height: calc( 100vh - 260px );
}

/* line 111, ../../scss/basestyle/style.scss */
.content-wrapper {
  padding: 24px;
}
@media only screen and (max-width: 576px) {
  /* line 111, ../../scss/basestyle/style.scss */
  .content-wrapper {
    padding: 24px 12px;
  }
}

/* User Initials Circle */
/* line 121, ../../scss/basestyle/style.scss */
.user-initials {
  display: inline-block;
  height: 2.2rem;
  border-radius: 100%;
  line-height: 2.2rem;
  font-weight: 400;
  width: 2.2rem;
  background-color: #ccc;
  text-align: center;
  text-transform: uppercase;
}

/* Status Circle */
/* line 135, ../../scss/basestyle/style.scss */
.status-circle {
  height: 16px;
  width: 16px;
  border-radius: 10px;
  display: inline-block;
  border: 4px solid #ccc;
}

/* Horizontal Overflow Scroll */
/* line 145, ../../scss/basestyle/style.scss */
.overflow-horizontal-scroll {
  white-space: nowrap;
  overflow: auto;
  width: 100%;
}

/****************************************
Page Title & Controls
****************************************/
/* line 161, ../../scss/basestyle/style.scss */
.page-tilte {
  margin-bottom: 24px;
}
/* line 164, ../../scss/basestyle/style.scss */
.page-tilte .title {
  margin-bottom: 0.2rem;
  color: #343a40;
  font-weight: 300;
}
/* line 169, ../../scss/basestyle/style.scss */
.page-tilte .desc {
  font-size: 14px;
}
/* line 173, ../../scss/basestyle/style.scss */
.page-tilte .controls input[type='search'], .page-tilte .controls .width-260 {
  max-width: 260px;
}
/* line 176, ../../scss/basestyle/style.scss */
.page-tilte .controls > * {
  vertical-align: top;
}
/* line 178, ../../scss/basestyle/style.scss */
.page-tilte .controls > * + * {
  margin-left: 0.75rem;
}

/***************************************************
Step by Step Wizard
***************************************************/
/* line 198, ../../scss/basestyle/style.scss */
.wizard .steps li {
  margin-bottom: -1px;
  border-bottom: 3px solid  #a7a4a4;
}

/***************************************************
Recent Activites (used in dashboard)
***************************************************/
/* line 215, ../../scss/basestyle/style.scss */
.recent-activites {
  position: relative;
}
/* line 217, ../../scss/basestyle/style.scss */
.recent-activites:before {
  content: '';
  display: inline-block;
  height: 100%;
  position: absolute;
  left: 10px;
  width: 4px;
  background-color: #f2f2f2;
}
/* line 226, ../../scss/basestyle/style.scss */
.recent-activites li {
  position: relative;
  padding-left: 42px;
}
/* line 229, ../../scss/basestyle/style.scss */
.recent-activites li .activity-icon {
  display: inline-block;
  border-width: 4px;
  border-style: solid;
  height: 18px;
  width: 18px;
  position: absolute;
  left: 3px;
  background-color: #fff;
  top: 0px;
  bottom: 0px;
  margin: auto;
  border-radius: 20px;
}
/* line 244, ../../scss/basestyle/style.scss */
.recent-activites li + li {
  margin-top: 28px;
}

/* line 252, ../../scss/basestyle/style.scss */
.dashboard-messages {
  height: calc( 100% - 56px );
}

/***************************************************
Generating Lighten Color 
***************************************************/
/* line 6, ../../scss/bootstrap/mixins/_background-variant.scss */
.bg-primary-light25 {
  background-color: #c8dbfe !important;
}

