.home-nav {
    /*opacity: 0.5;*/
    /* background-color: rgba(0, 164, 207, 0.5); */
}

.sitename {
    color: #e2a5e0 !important;
}

.logo-top {
    width: 50px;
    display: inline-block;
}

.home-nav-loginbth {
    background-color: #58657729;
}

.home-nav-registerbth {
    background-color: #58657729;
}