.weather{
}

.elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}
.elements>div{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
}
.weather-left{
    width: 55%;
}
.weather-temperature{
    font-size: 1.2rem;
    color: #ffffff;
    flex-grow:1;
}
.weather-wind-power{
            color: #ffffff;
            font-size: 1rem;
}
.weather-tip{
    background-color: #1d1d1d;
    font-size: 1rem;
    color: #ffffff;
    padding: 0rem 1rem;
    height: 30%;
}

.weather-right{
    width: 45%;
}
.weather-icon{
    flex-grow:1;
}
.weather-icon>img{
    width: 40%;
}
.weather-cityandtext{
    font-size: 1rem;
    color: #ffffff;
}