.ienav {
    height: 3.5rem;
    width: 100%;
}

.ienav-sitename {
    color: #e2a5e0 !important;
}

.ienav-logo-top {
    width: 50px;
    display: inline-block;
}

.ienav-loginbth {
    background-color: #58657729;
}

.ienav-registerbth {
    background-color: #58657729;
}