.components-title{
    display: inline-block;
    padding: .5rem 1rem;
    font-size: 1.3rem;
    border: 1px solid;
    border-color: #dfdfdf #dfdfdf #fff0 #dfdfdf;
    background-color: #fff;
    position: relative;
    bottom: -1px;
    z-index: 1;
}