.picturemanage {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: flex-start;
}

.picturemanage>div{
    display: inline-block;
}

.picturemanage>div:first-child{
    width: 80%;
}

.picturemanage>div:nth-child(2){
    width: 19%;
    padding: 0.5rem 0.5rem;
}

.picturemanage .custom-file-label::after
{
    color: #fff;
    content: "上传图片";
    background-color: #28a745;
}

.picturemanage-bgcolor-fff0{
    background-color: #fff0;
}