.picturemanage {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.picturemanage>div{
    display: inline-block;
}

.picturemanage>div:first-child{
    width: 80%;
}

.picturemanage>div:nth-child(2){
    width: 20%;
    padding: 0rem 0.5rem;
}

.picturemanage .custom-file-label::after
{
    color: #fff;
    content: "上传图片";
    background-color: #28a745;
}

.picturemanage-bgcolor-fff0{
    background-color: #fff0;
}