body,
html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 14px;
    line-height: 22px;
}

/* #root{
    display: flex;
    justify-content: center;
}

#root>*{
    max-width: 1440px;
} */