.flipClock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 500px;
}

.flipUnitContainer {
    display: block;
    position: relative;
    width: 140px;
    height: 120px;
    -webkit-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    -webkit-perspective: 300px;
    perspective: 300px;
    background-color: #ffc107;;
    border-radius: 3px;
    box-shadow: 0px 10px 10px -10px grey;
}

.upperCard,
.lowerCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    overflow: hidden;
    border: 1px solid #ffc107;;
}

.upperCard span,
.lowerCard span {
    font-size: 5em;
    font-family: "Droid Sans Mono", monospace;
    font-weight: lighter;
    color: #fff;
}

.upperCard {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    border-bottom: 0.5px solid #ffc107;;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.upperCard span {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}

.lowerCard {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-top: 0.5px solid #ffc107;;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.lowerCard span {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.flipCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    left: 0;
    width: 140px;
    height: 60px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flipCard span {
    font-family: "Droid Sans Mono", monospace;
    font-size: 5em;
    font-weight: lighter;
    color: #fff;
}

.flipCard.unfold {
    top: 50%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    background-color: #ffc107;;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid #ffc107;;
    border-top: 0.5px solid #ffc107;;
}

.flipCard.unfold span {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.flipCard.fold {
    top: 0%;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    background-color: #ffc107;;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 0.5px solid #ffc107;;
    border-bottom: 0.5px solid #ffc107;;
}

.flipCard.fold span {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}

.fold {
    -webkit-animation: fold 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s 1 normal forwards;
    animation: fold 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s 1 normal forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.unfold {
    -webkit-animation: unfold 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s 1 normal forwards;
    animation: unfold 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s 1 normal forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

@-webkit-keyframes fold {
    0% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
    100% {
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
    }
}

@keyframes fold {
    0% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
    100% {
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
    }
}

@-webkit-keyframes unfold {
    0% {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
}

@keyframes unfold {
    0% {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
}