.pageedit-page-container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
}

.pageedit-page-container-header{
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 9999;
    flex-direction: column;
}

.pageedit-page-container-header-info {
    display: flex;
    justify-content: space-between;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0.33rem 0.67rem;
}

.pageedit-page-container-header-info>.input-group {
    width: 25%;
}

.pageedit-page-container-header-info>.input-group .input-group-text {
    background-color: #5a8e9a;
}

.pageedit-page-container-header-info>.input-group input{
    color: #fff;
    background-color: #77777782;
}

.pageedit-page-container-header-info>.input-group input,
.pageedit-page-container-header-info>.input-group span {
    border: 0rem;
}

.pageedit-page-container-header-hidebtn {
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.pageedit-page-container-header-hidebtn>button {
    width: 10rem;
    transform: perspective(100px) rotateX(-45deg);
    -webkit-transform: perspective(100px) rotateX(-45deg);
    /* Safari ä¸Ž Chrome */
    z-index: 900;
    padding: 0px;
    flex-shrink: 0;
}

.pageedit-page-container-body {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: scroll;
    margin-right: -18px;
    overflow-x: hidden;
}

.pageedit-page-container-addcomponent {
    position: fixed;
    right: 3vw;
    bottom: 15vh;
    height: 4rem;
    width: 4rem;
}

.pageedit-page-container-addcomponent-btn {
    display: flex;
    height: 100%;
    width: 100%;
    cursor:pointer;
    box-shadow: 0px 0px 5px gray;
    border-radius: 2rem;
    color: #84b0b5;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    opacity: 0.6;
}

.pageedit-page-container-addcomponent-btn:hover {
    color: #fff;
    background-color: #84b0b5;
    opacity: 1;
}

.pageedit-page-container-addcomponent-btn>span {
    margin: auto;
    font-size: 2.5rem;
}