.pageedit-page-container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
}

.pageedit-page-container-header{
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 9999;
    flex-direction: column;
}

.pageedit-page-container-header-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0.33rem 0.67rem;
}

.pageedit-page-container-header-info>.input-group {
    margin: .5rem 0rem;
}

.pageedit-page-container-btns {
    position: absolute !important;
    display: flex;
    justify-content: flex-end;
    right: 5rem;
    bottom: 4rem;
    width: 0rem !important;
    opacity: 0.9;
    z-index: 9999;
}

.pageedit-page-container-btns:hover{
    transition: 0.5s;
    opacity: 1;
}