.cms-componentcontainerboxshow{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
}

.cms-componentcontainerboxshow>*:first-child{
    width: 100%;
}