body {
}

.menutag-menu {
    width:0px;
    font-size:0.9rem;
}

    .menutag-menu > div {
        position:absolute;
        height:2.5rem;
    }

    .menutag-menu button {
        z-index: 999;
    }

    .menutag-menu ul {
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-wrap: nowrap;
    }

    .menutag-menu li {
        list-style-type: none;
        white-space: nowrap;
        padding: 0.5rem 1rem;
        color: #fff;
        z-index: 999;
        background-color: #234a4e;
        display: flex;
        align-items: center;
    }

        .menutag-menu li a {
            color:#fff;
        }